
<header class="topnav" id="myTopnav">
  <a  class="active"><h1>JJ Constructions</h1></a>
  <a >Home</a>
  <a >About Us</a>
  <a>Portfolio</a>
  <div class="dropdown">
    <button class="dropbtn">Services 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div> 
 
  <a  target="_blank" href="https://wa.me/919791407369/?text=hi" >Contact US</a>
  <a >Download Quote</a>
  <a style="font-size:15px;" class="icon" (click)="resize();" > <mat-icon>menu</mat-icon></a>
</header>
