<!-- <header class="topnav" id="myTopnav">
  <a routerLink="/"><h1>JJ Constructions</h1></a>
  <a routerLink="/home" class="active">Home</a>
  <a routerLink="/about">About Us</a>
  <a routerLink="/portfolio">Portfolio</a>
  <div class="dropdown">
    <button class="dropbtn">Services <i class="fa fa-caret-down"></i></button>
    <div class="dropdown-content">
      <a routerLink="/service1">Service 1</a>
      <a routerLink="/service2">Service 2</a>
      <a routerLink="/service3">Service 3</a>
    </div>
  </div> 
  <a href="https://wa.me/919791407369/?text=hi" target="_blank">Contact Us</a>
  <a routerLink="/quote">Download Quote</a>
  <a class="icon" (click)="resize()">
    <mat-icon>menu</mat-icon>
  </a>
</header>
 -->
